In [ ]:
#Importar las librerias pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Lectura del archivo.csv
data = pd.read_csv("CountryTable.csv")
data

In [ ]:
#Detección de datos nulos por columna
total_nulos_col = data.isnull().sum()
total_nulos_col

MÉTODOS DE REEMPLAZO DE VALORES NULOS

In [ ]:
#"independence_year": rellenar con el valor "1900"
data["independence_year"]=data["independence_year"].fillna(1900)

In [ ]:
#"life_expectancy": rellenar con el valor "mean" de la columna
data["life_expectancy"]=data["life_expectancy"].fillna(round(data["life_expectancy"].mean(),1)) #El 1 significa que solo me deje un decimal

In [ ]:
#"gnp_old": rellenar con el valor "median" de la columna
data["gnp_old"]=data["gnp_old"].fillna(round(data["gnp_old"].median(),1)) #El 1 es de un decimal

In [ ]:
#"local_name": rellenar con el string "Inexistente"
data["local_name"] = data["local_name"].fillna("Inexistente")

In [ ]:
#"head_of_state": rellenar con el string "Desconocido"
data["head_of_state"] = data["head_of_state"].fillna("Desconocido")

In [ ]:
#"capital": rellenar con el valor "0"
data["capital"]=data["capital"].fillna(0)

In [ ]:
#"code2": rellenar con el string "NA"
data["code2"] = data["code2"].fillna("NA")

In [ ]:
#Comprobación del remplazo de nulos
total_nulos_col = data.isnull().sum().sum()
total_nulos_col

DETECCIÓN DE OUTLIERS

Distribución normal

In [ ]:
#Creación de una copia de la base de datos
data2=data.copy()

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: gnp_old.
x1=data2["gnp_old"]
LS1= x1.mean() + 2*x1.std()
LI1= x1.mean() - 2*x1.std()
print("Limite superior permitido", LS1)
print("Limite inferior permitido", LI1)

In [ ]:
#Outliers de gnp_old
outliers_gnp_old_desvest = data2[(x1>LS1)|(x1<LI1)]
outliers_gnp_old_desvest

In [ ]:
#Diagrama de caja: gnp_old.
fig1 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["gnp_old"]) 
plt.title("Outliers de gnp_old")
plt.show() #diagrama para visualizar outliers

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: population.
x2=data2["population"]
LS2= x2.mean() + 2*x2.std()
LI2= x2.mean() - 2*x2.std()
print("Limite superior permitido", LS2)
print("Limite inferior permitido", LI2)

In [ ]:
#Outliers de population
outliers_population_desvest = data2[(x2>LS2)|(x2<LI2)]
outliers_population_desvest

In [ ]:
#Diagrama de caja: population.
fig2 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["population"]) 
plt.title("Outliers de population")
plt.show() #diagrama para visualizar outliers

Rango intercuartílico

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: gnp_old.

x3=data2["gnp_old"]

p25x3=x3.quantile(0.25) #Q1
p75x3=x3.quantile(0.75) #Q3
iqrx3 = p75x3 - p25x3 #Q3-Q1

LS_iqr_x3 = p75x3 + 1.3*iqrx3
LI_iqr_x3 = p25x3 - 1.3*iqrx3
print("Limite superior permitido", LS_iqr_x3)
print("Limite inferior permitido", LI_iqr_x3)

In [ ]:
#Outliers de gnp_old
outliers_gnp_old_iqr = data2[(x3>LS_iqr_x3)|(x3<LI_iqr_x3)]
outliers_gnp_old_iqr

In [ ]:
#Diagrama de caja: gnp_old.
fig3 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["gnp_old"]) 
plt.title("Outliers de gnp_old")
plt.show() #diagrama para visualizar outliers

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: surface_area

x4=data2["surface_area"]

p25x4=x4.quantile(0.25) #Q1
p75x4=x4.quantile(0.75) #Q3
iqrx4 = p75x4 - p25x4 #Q3-Q1

LS_iqr_x4 = p75x4 + 1.3*iqrx4
LI_iqr_x4 = p25x4 - 1.3*iqrx4
print("Limite superior permitido", LS_iqr_x4)
print("Limite inferior permitido", LI_iqr_x4)

In [ ]:
#Outliers de surface_area
outliers_surf_area_iqr = data2[(x4>LS_iqr_x4)|(x4<LI_iqr_x4)]
outliers_surf_area_iqr

In [ ]:
#Diagrama de caja: surface_area
fig4 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["surface_area"]) 
plt.title("Outliers de surface_area")
plt.show() #diagrama para visualizar outliers

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: life_expectancy

x5=data2["life_expectancy"]

p25x5=x5.quantile(0.25) #Q1
p75x5=x5.quantile(0.75) #Q3
iqrx5 = p75x5 - p25x5 #Q3-Q1

LS_iqr_x5 = p75x5 + 1.3*iqrx5
LI_iqr_x5 = p25x5 - 1.3*iqrx5
print("Limite superior permitido", LS_iqr_x5)
print("Limite inferior permitido", LI_iqr_x5)

In [ ]:
#Outliers de life_expectancy
outliers_life_exp_iqr = data2[(x5>LS_iqr_x5)|(x5<LI_iqr_x5)]
outliers_life_exp_iqr

In [ ]:
#Diagrama de caja: life_expectancy
fig5 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["life_expectancy"]) 
plt.title("Outliers de life_expectancy")
plt.show() #diagrama para visualizar outliers

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: population

x6=data2["population"]

p25x6=x6.quantile(0.25) #Q1
p75x6=x6.quantile(0.75) #Q3
iqrx6 = p75x6 - p25x6 #Q3-Q1

LS_iqr_x6 = p75x6 + 1.3*iqrx6
LI_iqr_x6 = p25x6 - 1.3*iqrx6
print("Limite superior permitido", LS_iqr_x6)
print("Limite inferior permitido", LI_iqr_x6)

In [ ]:
#Outliers de population
outliers_pop_iqr = data2[(x6>LS_iqr_x6)|(x6<LI_iqr_x6)]
outliers_pop_iqr

In [ ]:
#Diagrama de caja: population
fig6 = plt.figure(figsize =(5, 3))
plt.boxplot(data2["population"]) 
plt.title("Outliers de population")
plt.show() #diagrama para visualizar outliers

SUSTITUCIÓN DE ATÍPICOS

In [ ]:
#Valores extremos: límite superior y límite inferior.
#Variable: gnp_old.
x7=data2["gnp_old"]
LS7 = x7.mean() + 3*x7.std()
LI7 = x7.mean() - 3*x7.std()
print("Limite superior permitido", LS7)
print("Limite inferior permitido", LI7)

In [163]:
#Outliers de gnp_old
outliers_gnp_old_desvest2 = data2[(x7>LS7)|(x7<LI7)]
outliers_gnp_old_desvest2

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
56,DEu,Germany,Europe,Western Europe,357022.0,1955.0,82164700,77.4,2133367.0,2102826.0,Deutschland,Federal Republic,Johannes Rau,3068.0,DE
109,JPN,Japan,Asia,Eastern Asia,377829.0,-660.0,126714000,80.7,3787042.0,4192638.0,Nihon/Nippon,Constitutional Monarchy,Akihito,1532.0,JP
223,uSA,united States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,united States,Federal Republic,George W. Bush,3813.0,uS

En caso de detectar outliers, sustituirlos por el promedio de la columna

In [165]:
#Obtenemos datos sin outliers en gnp_old
#Convertir los outliers en NA's
data3=data2[(x7<=LS7)&(x7>=LI7)]
data3

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,1900.0,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,8421.0,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,1900.0,8000,76.1,63.2,8421.0,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YuG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,8421.0,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [167]:
#"gnp_old": sustituirlos por el promedio de la columna
data2["gnp_old"]=data3["gnp_old"].fillna(round(data2["gnp_old"].mean(),0)) #Cero porque son números enteros sin decimales